<div class="loading" ng-show="loading"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Loading... </div>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		  <h1>IPTV Users panel</h1>
		</div>
		<div class="list-group">
		  <a href="#/user/{{user.$id}}" class="list-group-item" ng-repeat="user in users">{{user.user_name}} {{user.user_surname}}</a>
		</div>
	</div>
</div>