<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		  <h1>Upload chanels list</h1>
		</div>
		
		<div class="form-group">
		    <label for="chanelsUser">List owner</label>
		    <input type="text" class="form-control" id="chanelsUser" placeholder="User" ng-model="chanelsUser">
		</div>

		<div class="form-group">
			<label for="chanelsList">Chanels list</label>
			<textarea class="form-control" id="chanelsList" ng-model="chanelsList" rows="40"></textarea>
			
		</div>

		<button type="submit" class="btn btn-success" ng-click="uploadData()" ng-disabled="!chanelsUser||!chanelsList">Upload list</button>
		<a href="#/" class="btn btn-danger">Skip this</a>		
	</div>
</div>