<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		  <h1>Create new user</h1>
		</div>
		
		<form>
			<div class="panel panel-default">
				<div class="panel-heading">Login user data</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="userEmail">Email address</label>
						<input type="email" class="form-control" id="userEmail" placeholder="Email" ng-model="userEmail">
					</div>
					<div class="form-group">
						<label for="userPassword">Password</label>
						<input type="password" class="form-control" id="userPassword" placeholder="Password" ng-model="userPassword">
					</div>
				</div>
			</div>	
			
			<div class="panel panel-default">
				<div class="panel-heading">Personal data</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="userName">Name</label>
						<input type="text" class="form-control" id="userName" placeholder="Name" ng-model="userName">
					</div>
					<div class="form-group">
						<label for="userSurname">Surname</label>
						<input type="text" class="form-control" id="userSurname" placeholder="Surname" ng-model="userSurname">
					</div>
					<div class="form-group">
						<label for="userTel">Tel</label>
						<input type="text" class="form-control" id="userTel" placeholder="Tel" ng-model="userTel">
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Role data</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="userRole">Is Admin</label>
						<input type="text" class="form-control" id="userRole" placeholder="0" ng-model="userRole">
					</div>
				</div>
			</div>
			
			<button type="submit" class="btn btn-success" ng-click="createUser()" ng-disabled="!userEmail||!userPassword||!userName||!userSurname">Create new user</button>
		</form>
		
	</div>
</div>