<style>
  .epg_list_wrapper {
    width: 100%;
    max-height: 400px;
    min-height: 400px;
    overflow: scroll;
    position: relative;
    border: solid 1px #ccc;
  }
  .epg_header {
    width: 4600px;
    height: 40px;
    overflow: hidden;
    background-color: #f3f3f3;
    border-bottom: solid 1px #ccc;
  }
  .epg_title {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
  }
  .div_epg_time_slider {
    width: 100%;
    height: 30px;
    float: left;
  }
  .epg_chanel_holder {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100%;
    text-align: center;
    float: left;
    z-index: 3;
    background-color: #f3f3f3;

  }
  .epg_chanel {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    text-align: left;
    padding-left: 10px;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
  }
  .epg_chanel:nth-child(odd) {
    background-color: #f3f3f3;
  }
  .epg_chanel:first-child {
      border-right-color: #f3f3f3;
  }
  .epg_slider {
    padding-left: 100px;
    float: left;
    width: 4600px;
    height: 40px;
    border-bottom: solid 1px #ccc;
  }
  .epg_desctiption {
    width: 200px;
    height: 40px;
    overflow: hidden;
    float: left;
    text-align: center;
    border-left: solid 1px #ccc;    
    /*background-color: #f1f1f1;*/
  }
  .epg_slider:nth-child(odd) {
    background-color: #f3f3f3;
  }
  .epg_desctiption:nth-child(odd) {
    /*background-color: #fff;*/
  }

  .epg_slider:nth-child(odd) .epg_desctiption{
    /*background-color: #f3f41F;*/
  }

  .epg_slider:nth-child(odd) .epg_desctiption:nth-child(odd){
    /*background-color: #fff;*/
  }
  .epg_desctiption .time {
    font-weight: bold;
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    text-align: center;
  }
  .epg_desctiption .name {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    text-align: center;
    font-size: 10px;
  }
  .current-time {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.38);
  }
</style>
<div class="row" ng-show="chanels">
    <div class="col-xs-12">
      <div class="epg_list_wrapper">
        <div class="epg_header">
            <div class="div_epg_time_slider">
                
            </div>
        </div>
        <div class="epg_chanel_holder">
            <div class="epg_chanel">
                Name
            </div>
            <div class="epg_chanel real" ng-repeat="(key, lista) in listaEPG">
                {{lista.chanel}}
            </div>
        </div>
        <div class="current-time"></div>
        <div class="epg_slider" ng-repeat="(key, lista) in listaEPG">
              <div class="epg_desctiption" ng-repeat="(key, epg) in lista.epg" style="width: {{timeWidth(epg.time, lista.epg[$index + 1].time)}}px; margin-left:{{timeMargin(epg.time, $first)}}px;" title="{{epg.time}} - {{epg.name}}">
                <span class="time">{{epg.time}}</span>
                <span class="name">{{epg.name}}</span>
              </div>
        </div>

      </div>
    </div>  
</div>
