<div class="loading" ng-show="loading"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Loading... </div>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		  <h1>IPTV Users panel</h1>
		</div>
		<form>
		  <div class="form-group">
		    <label for="userEmail">Email address</label>
		    <input type="email" class="form-control" id="userEmail" placeholder="Email" ng-model="userEmail">
		  </div>
		  <div class="form-group">
		    <label for="userPassword">Password</label>
		    <input type="password" class="form-control" id="userPassword" placeholder="Password" ng-model="userPassword">
		  </div>
		  <button type="submit" class="btn btn-success" ng-click="userLogin()" ng-disabled="!userEmail||!userPassword">Submit</button>
		  <a href="#/create" class="btn btn-default">Sign Up</a>
		</form>
		
	</div>
</div>