<div class="loading" ng-show="loading"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Loading... </div>
<div class="row">
	<div class="col-xs-12" ng-show="data.user_name">
    <div class="page-header">
      <h1>{{data.user_name}} {{data.user_surname}}</h1>
    </div>
		<div class="panel panel-default">
		  <div class="panel-body">
			<p><b>email:</b> {{data.user_email}} <br>
			<b>tel:</b> {{data.user_tel}}</p>	
      <button class="btn btn-success pull-right" ng-click="logOut()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log out</button>		
		  </div>
		  <div class="panel-footer">
		  	<button class="btn btn-success" ng-click="saveList()"><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save list</button>		  	
		  	<a href="raw.php?user={{data.user_name | lowercase}}" class="btn btn-success" ><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Download</a>
        <a href="raw.php?user={{data.user_name | lowercase}}&type=stream" class="btn btn-success" ><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Get dinamic</a>
		  	<a href="#/epg/{{userEPG}}" class="btn btn-primary" ><span class="glyphicon glyphicon-star" aria-hidden="true"></span> EPG</a>

		  	<a href="#/admin" class="btn btn-danger pull-right" ng-if="is_admin"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Admin</a>
		  </div>
		</div>
	</div>	
</div>
<div class="row" ng-show="chanels">
    <div class="col-xs-6" id="newList">
    <div class="page-header">
      <h2>Available channels:</h2>
    </div>    
        <ul class="list-group list-group-sortable-connected" id="chanel-list">
        	<li class="list-group-item" ng-repeat="(key, chanel) in chanels | orderBy:'order'" ng-dblclick="chanelEdit(chanel.$id)" data-cid="{{chanel.$id}}" ng-if="!chanel.active">
        		<img src="{{chanel.logo}}" height="40"> <br>
        		<span class='cnumb'>{{key+1}}</span>. <span class='cName'>{{chanel.name}}</span>
        		
        	</li>
        </ul>
    </div>
    <div class="col-xs-6">
    <div class="page-header">
      <h2>Your new channels list:</h2>
    </div>        
    	<ul class="list-group list-group-sortable-connected" id="your-list">
    		<li class="list-group-item" ng-repeat="(key, chanel) in chanels | orderBy:'order'" ng-dblclick="chanelEdit(chanel.$id)" data-cid="{{chanel.$id}}" ng-if="chanel.active">
        		<img src="{{chanel.logo}}" height="40"> <br>
        		<span class='cnumb'>{{key+1}}</span>. <span class='cName'>{{chanel.name}}</span>
        		
        	</li>
    	</ul>
    </div>
</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="chanelSettings">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><img src="{{chanel_logo}}" class='chanelLogo' height="30"> {{chanel_name}} - chanel settings</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="chanelName">Chanel Name:</label>
                <input type="text" class="form-control hidden" id="chanelId">
                <input type="text" class="form-control" id="chanelName" placeholder="Enter Chanel Name" ng-model="chanel_name">
              </div>
              <div class="form-group">
                <label for="chanelLogo">Chanel Logo:</label>
                <input type="text" class="form-control" id="chanelLogo" placeholder="Enter Chanel Logo link" ng-model="chanel_logo">
              </div>
              <div class="form-group">
                <label for="chanelURL">Chanel URL:</label>
                <input type="text" class="form-control" id="chanelURL" placeholder="Enter Chanel URL" ng-model="chanel_url">
              </div>
              <label for="chanelURL">Chanel EPG ID:</label> {{chanel_epg_id_current}}
              <select class="form-control" id="chanelID" ng-model="chanel_epg_id">
                <option value="">|| - Select - ||</option>
                <option ng-repeat="epg in epgs" value="{{epg.$id}}" ng-selected="epg.$id == chanel_epg_id_current">{{epg.name}}</option>
              </select>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" ng-click="deleteChanel(chanel_id)">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveChanel" ng-click="saveChanel()" ng-disabled="!chanel_name||!chanel_logo||!chanel_url">Save changes</button>
          </div>
        </div>
      </div>
    </div>